@define-color b00 #1e1e2e;
@define-color b01 #181825;
@define-color b02 #313244;
@define-color b03 #45475a;
@define-color b04 #585b70;
@define-color b05 #cdd6f4;
@define-color b06 #f5e0dc;
@define-color b07 #b4befe;
@define-color b08 #f38ba8;
@define-color b09 #fab387;
@define-color b0A #f9e2af;
@define-color b0B #a6e3a1;
@define-color b0C #94e2d5;
@define-color b0D #89b4fa;
@define-color b0E #cba6f7;
@define-color b0F #f2cdcd;

@define-color widget_background #1e1e2e;
@define-color bar_background #1e1e2e;
@define-color text #cdd6f4;
@define-color active #cdd6f4;
@define-color highlight #cba6f7;


* {
  font-family: "JetBrains Mono";
  font-size: 14px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
}

window#waybar {
  background: @bar_background;
  color: @b05;
}

#cpu, #memory, #pulseaudio, #cava, #mpris, #mode, #custom-gammastep, #mode, #custom-nordvpn, #battery, #network, #custom-notification, #clock, #window, #tray {
  color: @text;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
}

.modules-left {
  background: @widget_background;
}
.modules-right {
  background: @widget_background;
}

#workspaces {
  color: @text;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button {
  color: @b03;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button.occupied {
  color: @text;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button.focused {
  color: @highlight;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
  ; border-bottom: 1px solid @highlight;
  border-bottom: 0px;
}

#cpu {
  color: @active;
}

#memory {
  color: @active;
}

#window {
  color: @text;
}

#mode {
  color: @b01;
  background: @b0F;
}

#battery {
  color: @active;
}

#custom-nordvpn {
  color: @active;
}

#network {
  color: @active;
}

#pulseaudio.muted, #network.disconnected {
  color: @b0A;
}

#clock {
  color: @active;
}

#custom-notification {
  color: @active;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @b01;
  }
}

#battery.critical:not(.charging) {
  color: @b05;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-leftSeparator1 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-leftSeparator2 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}


#custom-rightSeparator1 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator2 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator3 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator4 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator5 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}


@define-color b00 #1e1e2e;
@define-color b01 #181825;
@define-color b02 #313244;
@define-color b03 #45475a;
@define-color b04 #585b70;
@define-color b05 #cdd6f4;
@define-color b06 #f5e0dc;
@define-color b07 #b4befe;
@define-color b08 #f38ba8;
@define-color b09 #fab387;
@define-color b0A #f9e2af;
@define-color b0B #a6e3a1;
@define-color b0C #94e2d5;
@define-color b0D #89b4fa;
@define-color b0E #cba6f7;
@define-color b0F #f2cdcd;

@define-color widget_background #1e1e2e;
@define-color bar_background #1e1e2e;
@define-color text #cdd6f4;
@define-color active #cdd6f4;
@define-color highlight #cba6f7;


* {
  font-family: "JetBrains Mono";
  font-size: 14px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
}

window#waybar {
  background: @bar_background;
  color: @b05;
}

#cpu, #memory, #pulseaudio, #cava, #mpris, #mode, #custom-gammastep, #mode, #custom-nordvpn, #battery, #network, #custom-notification, #clock, #window, #tray {
  color: @text;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
}

.modules-left {
  background: @widget_background;
}
.modules-right {
  background: @widget_background;
}

#workspaces {
  color: @text;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button {
  color: @b03;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button.occupied {
  color: @text;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
}

#workspaces button.focused {
  color: @highlight;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  margin-left: 2px;
  ; border-bottom: 1px solid @highlight;
  border-bottom: 0px;
}

#cpu {
  color: @active;
}

#memory {
  color: @active;
}

#window {
  color: @text;
}

#mode {
  color: @b01;
  background: @b0F;
}

#battery {
  color: @active;
}

#custom-nordvpn {
  color: @active;
}

#network {
  color: @active;
}

#pulseaudio.muted, #network.disconnected {
  color: @b0A;
}

#clock {
  color: @active;
}

#custom-notification {
  color: @active;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @b01;
  }
}

#battery.critical:not(.charging) {
  color: @b05;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-leftSeparator1 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-leftSeparator2 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}


#custom-rightSeparator1 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator2 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator3 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator4 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#custom-rightSeparator5 {
  font-size: 14px;
  font-weight: bold;
  color: @b04;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

